numpy>=1.23.2  # Ensure NumPy is compatible
pandas==1.5.3
numba==0.56.4  # Update Numba to a newer version that supports the required NumPy
scikit-learn==1.0.2  # Update scikit-learn to a version that supports newer dependencies
streamlit==1.23.1
pyLDAvis==3.2.2
pycaret==3.3.2
joblib==1.4.2
openpyxl==2.5.6

